@font-face {
  font-family: 'azo-sans-web-thin';
  src: url("../fonts/AzoSans-Thin-webfont.eot");
  src: url("../fonts/AzoSans-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AzoSans-Thin-webfont.woff") format("woff"), url("../fonts/AzoSans-Thin-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Thin-webfont.svg#azo_sansthin") format("svg"); }
@font-face {
  font-family: 'azo-sans-web-light';
  src: url("../fonts/AzoSans-Light-webfont.eot");
  src: url("../fonts/AzoSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AzoSans-Light-webfont.woff") format("woff"), url("../fonts/AzoSans-Light-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Light-webfont.svg#azo_sansthin") format("svg"); }
@font-face {
  font-family: 'azo-sans-web-reg';
  src: url("../fonts/AzoSans-Regular-webfont.eot");
  src: url("../fonts/AzoSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AzoSans-Regular-webfont.woff") format("woff"), url("../fonts/AzoSans-Regular-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Regular-webfont.svg#azo_sansthin") format("svg"); }
@font-face {
  font-family: 'azo-sans-web-med';
  src: url("../fonts/AzoSans-Medium-webfont.eot");
  src: url("../fonts/AzoSans-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AzoSans-Medium-webfont.woff") format("woff"), url("../fonts/AzoSans-Medium-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Medium-webfont.svg#azo_sansthin") format("svg"); }
body {
  color: #111;
  font-size: 14px;
  font-family: "azo-sans-web-reg";
  font-weight: 100;
  line-height: 1.8; }

h1, h2, p, a {
  font-family: "azo-sans-web-light"; }

h1, h2, p, a {
  color: #111; }

a {
  color: #111; }

body {
  padding: 0;
  margin: 0;
  background: url("../img/bg.png") top center no-repeat;
  background-size: auto 100%;
  min-height: 1318px;
  transition: 0.4s ease;
  line-height: 26px; }
  body.clicked {
    overflow: hidden; }
  @media screen and (max-width: 320px) {
    body {
      background: url("../img/mobilebg.png") top center no-repeat;
      background-size: 100%;
      min-height: 0;
      height: 568px;
      overflow: hidden; } }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }

a {
  display: inline-block;
  text-decoration: none; }

strong {
  font-family: "azo-sans-web-reg";
  font-weight: 500; }

input {
  font-family: "azo-sans-web-reg"; }

.hr {
  border-bottom: 1px dashed #CECECE;
  margin: 16px 0; }

.click-container {
  width: 1170px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.2s ease; }
  .overlay.open {
    visibility: visible;
    opacity: 1; }

.modal {
  position: absolute;
  top: 50%;
  visibility: hidden;
  width: 960px;
  max-width: 100%;
  height: 626px;
  left: 0;
  right: 0;
  margin: -313px auto 0;
  background: #fff;
  opacity: 0;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  text-align: center; }
  .modal.open {
    visibility: visible;
    opacity: 1;
    z-index: 9999; }
  .modal .close {
    position: absolute;
    top: 14px;
    right: 14px;
    height: 20px; }
    .modal .close:hover {
      opacity: 0.5; }
  .modal .logo {
    float: none;
    margin: 60px auto 40px auto; }
    @media screen and (max-width: 320px) {
      .modal .logo {
        margin: 40px auto 24px auto;
        height: 33px; } }
  .modal h1 {
    font-size: 18px;
    font-family: "azo-sans-web-light";
    font-weight: 100;
    margin-bottom: 48px; }
    .modal h1 strong {
      display: block; }
    @media screen and (max-width: 320px) {
      .modal h1 {
        font-size: 16px;
        margin-bottom: 24px; } }
  .modal.step-two, .modal.step-three {
    display: none; }
  .modal .metric {
    display: none; }
  .modal.step-two .btn {
    position: absolute;
    bottom: 30px; }
    .modal.step-two .btn.primary {
      right: 30px; }
    .modal.step-two .btn.secondary {
      left: 30px; }
  .modal.step-two .logo {
    position: absolute;
    top: 14px;
    left: 14px;
    height: 20px;
    margin: 0; }
  .modal.step-two .left {
    float: left;
    margin: 73px 0 0 60px;
    position: relative; }
    .modal.step-two .left .line {
      position: absolute;
      width: 100%;
      opacity: 0;
      transition: 0.6s ease; }
      .modal.step-two .left .line div {
        background: #C7C5C5;
        height: 1px;
        width: 100%; }
      .modal.step-two .left .line p {
        position: absolute;
        right: -71px;
        top: -7px;
        width: 64px;
        color: #727272;
        font-size: 12px;
        line-height: 15px;
        text-align: left; }
      .modal.step-two .left .line.visible {
        opacity: 1; }
      .modal.step-two .left .line.bust {
        top: 106px; }
      .modal.step-two .left .line.waist {
        top: 188px; }
      .modal.step-two .left .line.hips {
        top: 268px; }
  .modal.step-two .right {
    float: right;
    margin: 110px 95px 0 0;
    width: 410px; }
    .modal.step-two .right h1 {
      font-size: 24px;
      float: left;
      margin-bottom: 80px;
      font-weight: 600; }
  .modal.step-three .btn {
    position: absolute;
    bottom: 30px; }
    .modal.step-three .btn.primary {
      right: 30px; }
    .modal.step-three .btn.secondary {
      left: 30px; }
  .modal.step-three .logo {
    position: absolute;
    top: 14px;
    left: 14px;
    height: 20px;
    margin: 0; }
  .modal.step-three .left {
    float: left;
    margin: 73px 0 0 60px;
    position: relative; }
  .modal.step-three .right {
    float: right;
    margin: 110px 85px 0 0;
    width: 440px; }
    .modal.step-three .right h1 {
      font-size: 24px;
      float: left;
      margin-bottom: 50px;
      font-weight: 600;
      text-align: left; }
    .modal.step-three .right .fit {
      float: left;
      clear: left;
      text-align: left;
      width: 100%;
      margin-bottom: 32px; }
      .modal.step-three .right .fit h4 {
        font-size: 18px;
        font-family: "azo-sans-web-reg";
        font-weight: 500;
        float: left;
        margin-top: 12px; }
      .modal.step-three .right .fit p {
        float: left; }
      .modal.step-three .right .fit .check {
        border: 1px solid #4D8958;
        background: #F7F7F7;
        height: 70px;
        width: 70px;
        border-radius: 70px;
        float: left;
        margin: 0 16px 0 0;
        cursor: pointer; }
        .modal.step-three .right .fit .check:focus {
          background: url("../img/bigcheck.svg") center no-repeat #F7F7F7;
          outline: none; }
  .modal.step-four {
    display: none; }
    .modal.step-four .btn {
      position: absolute;
      bottom: 30px; }
      .modal.step-four .btn.primary {
        right: 30px; }
      .modal.step-four .btn.secondary {
        left: 30px; }
    .modal.step-four .single-compare {
      text-align: center;
      position: absolute;
      top: 12px;
      left: 0;
      right: 0;
      margin: 0 auto; }
      .modal.step-four .single-compare p {
        color: #111;
        font-size: 16px;
        float: none;
        display: inline-block;
        padding: 0 20px;
        cursor: pointer; }
        .modal.step-four .single-compare p:first-child {
          border-right: 1px dashed #C7C5C5; }
        .modal.step-four .single-compare p.active, .modal.step-four .single-compare p:hover, .modal.step-four .single-compare p:focus {
          color: #4D8958; }
    .modal.step-four .logo {
      position: absolute;
      top: 14px;
      left: 14px;
      height: 20px;
      margin: 0; }
    .modal.step-four .left {
      float: left;
      margin: 73px 0 0 60px;
      position: relative; }
    .modal.step-four .right {
      float: right;
      margin: 77px 0 0 0;
      width: 611px; }
      .modal.step-four .right .single-size .size .current-size {
        margin-bottom: 10px; }
        .modal.step-four .right .single-size .size .current-size p {
          font-size: 16px; }
          .modal.step-four .right .single-size .size .current-size p span {
            color: #539D5B;
            font-size: 22px;
            font-family: "azo-sans-web-reg";
            font-weight: 500; }
      .modal.step-four .right .single-size .size .size-selector {
        text-align: center;
        margin-top: 12px; }
        .modal.step-four .right .single-size .size .size-selector p {
          float: none;
          display: inline-block;
          font-size: 22px;
          font-family: "azo-sans-web-reg";
          font-weight: 500;
          padding: 0 30px;
          cursor: pointer; }
          .modal.step-four .right .single-size .size .size-selector p:first-child {
            border-right: 1px dashed #C7C5C5; }
          .modal.step-four .right .single-size .size .size-selector p:last-child {
            border-left: 1px dashed #C7C5C5; }
          .modal.step-four .right .single-size .size .size-selector p.active, .modal.step-four .right .single-size .size .size-selector p:hover, .modal.step-four .right .single-size .size .size-selector p:focus {
            color: #4D8958; }
      .modal.step-four .right .single-size .size.xsmall, .modal.step-four .right .single-size .size.medium {
        display: none; }
      .modal.step-four .right .single-size .fit-diagram {
        border-top: 1px solid #E7E7E7;
        border-bottom: 1px solid #E7E7E7;
        height: 346px; }
      .modal.step-four .right .compare-sizes {
        display: none; }
        .modal.step-four .right .compare-sizes .sizes {
          margin-bottom: 10px;
          text-align: center; }
          .modal.step-four .right .compare-sizes .sizes p {
            font-size: 16px;
            display: inline-block;
            float: none;
            margin: 0 162px; }
            .modal.step-four .right .compare-sizes .sizes p span {
              color: #539D5B;
              font-size: 22px;
              font-family: "azo-sans-web-reg";
              font-weight: 500; }
            .modal.step-four .right .compare-sizes .sizes p:first-child {
              margin: 0; }
            .modal.step-four .right .compare-sizes .sizes p:last-child {
              margin: 0; }
    .modal.step-four .warning {
      position: absolute;
      right: 264px;
      bottom: 34px; }
      .modal.step-four .warning img {
        float: left;
        position: relative;
        top: 6px;
        right: 8px; }
      .modal.step-four .warning p {
        float: left;
        color: #727272;
        font-size: 12px;
        width: 234px;
        line-height: 15px;
        text-align: left;
        font-family: "azo-sans-web-reg"; }
  @media screen and (max-width: 320px) {
    .modal {
      height: 636px; } }

.initial-stats .unit-switcher {
  text-align: center; }
  .initial-stats .unit-switcher p {
    float: none;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer; }
    .initial-stats .unit-switcher p:first-child {
      border-right: 1px dashed #C7C5C5; }
    .initial-stats .unit-switcher p.active {
      font-family: "azo-sans-web-reg";
      font-weight: 500; }
.initial-stats .inputs {
  text-align: center;
  padding: 50px 0 40px;
  margin: 20px 0 50px;
  background: #F7F7F7; }
  .initial-stats .inputs .field {
    display: inline-block;
    float: none;
    border: 1px solid #4D8958;
    position: relative;
    text-align: center;
    background: #fff;
    padding: 16px 16px 16px 0;
    margin: 0 14px; }
    .initial-stats .inputs .field label {
      position: absolute;
      top: -29px;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .initial-stats .inputs .field .input {
      position: relative;
      float: none;
      display: inline-block; }
      .initial-stats .inputs .field .input .unitlabel {
        position: absolute;
        right: 0;
        font-size: 11px;
        color: #111;
        line-height: initial;
        font-family: "azo-sans-web-reg";
        font-weight: 500;
        bottom: 4px; }
        .initial-stats .inputs .field .input .unitlabel.metric {
          right: -7px !important; }
      .initial-stats .inputs .field .input input {
        background: none;
        border: 0;
        font-size: 22px;
        color: #111;
        text-align: center;
        width: 55px; }
        .initial-stats .inputs .field .input input.metric {
          display: none; }
        .initial-stats .inputs .field .input input:focus {
          outline: none; }
    .initial-stats .inputs .field.age {
      padding-left: 16px; }

.btn {
  border-radius: 3px;
  padding: 10px 54px; }
  .btn.primary {
    background: #4D8958;
    color: #fff;
    font-family: "azo-sans-web-reg";
    font-weight: 500; }
    .btn.primary:hover {
      background: #5AA267; }
  .btn.secondary {
    background: #111;
    color: #fff;
    font-family: "azo-sans-web-reg";
    font-weight: 500; }
    .btn.secondary:hover {
      background: #3E3D3D; }

.save-measurements {
  position: absolute;
  bottom: 40px;
  right: 235px;
  font-size: 12px;
  color: #727272; }
  .save-measurements label {
    cursor: pointer; }
    .save-measurements label input {
      background: #fff;
      border: 1px solid #539D5B;
      width: 22px;
      height: 20px;
      -webkit-appearance: none;
      position: relative;
      top: 8px;
      right: 5px;
      cursor: pointer; }
      .save-measurements label input:checked {
        background: url("../img/check.svg") center no-repeat;
        outline: none; }
      .save-measurements label input:focus {
        outline: none; }

.slider {
  float: left;
  clear: left;
  width: 100%; }
  .slider h4 {
    font-size: 18px;
    font-family: "azo-sans-web-light";
    color: #111;
    float: left;
    position: relative;
    bottom: 15px; }
  .slider .range {
    float: right;
    width: 73%; }
    .slider .range .label {
      font-size: 14px;
      color: #727272; }
    .slider .range .slide {
      background: #C7C5C5;
      border: 0;
      border-radius: 0;
      padding: 0;
      height: 1px;
      text-align: center; }
      .slider .range .slide .ui-slider-handle {
        background: #F7F7F7;
        border: 1px solid #4D8958;
        width: 71px;
        height: 71px;
        border-radius: 71px;
        top: -2.5em;
        margin-left: -2.6em;
        cursor: ew-resize; }
        .slider .range .slide .ui-slider-handle:focus {
          outline: none; }
        .slider .range .slide .ui-slider-handle .label {
          position: relative;
          top: 21px;
          color: #111;
          font-family: "azo-sans-web-reg"; }
      .slider .range .slide p {
        float: none;
        display: inline-block;
        font-size: 14px;
        color: #727272;
        margin: 0 54px;
        position: relative;
        bottom: 30px;
        display: none; }
        .slider .range .slide p.first {
          margin-left: 0; }
        .slider .range .slide p.last {
          margin-right: 0; }
  .slider.two, .slider.three {
    margin-top: 80px; }
