//font face imports

@font-face {
    font-family: 'azo-sans-web-thin';
    src: url('../../fonts/AzoSans-Thin-webfont.eot');
    src: url('../../fonts/AzoSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/AzoSans-Thin-webfont.woff') format('woff'),
         url('../../fonts/AzoSans-Thin-webfont.ttf') format('truetype'),
         url('../../fonts/AzoSans-Thin-webfont.svg#azo_sansthin') format('svg');
}
@font-face {
    font-family: 'azo-sans-web-light';
    src: url('../../fonts/AzoSans-Light-webfont.eot');
    src: url('../../fonts/AzoSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/AzoSans-Light-webfont.woff') format('woff'),
         url('../../fonts/AzoSans-Light-webfont.ttf') format('truetype'),
         url('../../fonts/AzoSans-Light-webfont.svg#azo_sansthin') format('svg');
}
@font-face {
    font-family: 'azo-sans-web-reg';
    src: url('../../fonts/AzoSans-Regular-webfont.eot');
    src: url('../../fonts/AzoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/AzoSans-Regular-webfont.woff') format('woff'),
         url('../../fonts/AzoSans-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/AzoSans-Regular-webfont.svg#azo_sansthin') format('svg');
}
@font-face {
    font-family: 'azo-sans-web-med';
    src: url('../../fonts/AzoSans-Medium-webfont.eot');
    src: url('../../fonts/AzoSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/AzoSans-Medium-webfont.woff') format('woff'),
         url('../../fonts/AzoSans-Medium-webfont.ttf') format('truetype'),
         url('../../fonts/AzoSans-Medium-webfont.svg#azo_sansthin') format('svg');
}


// global
body {
    color: $black;
    font-size: $base-font-size;
    font-family: $brand-font-reg;
    font-weight: 100;
    line-height: 1.8;
}

%brand-font-light {
    font-family:$brand-font-light;
}

h1, h2, p, a
{
  @extend %brand-font-light;
  color: $black;
}



//inline links

a {
    color:$black;
}
