// sass variables

$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1280px;
$break-xxlarge: 1600px;

$black: #111;
$white: #fff;
$green: #4D8958;
$darkgrey: #7F7F7F;
$lightgrey: #F7F7F7;

$base-font-size: 14px;
$small-font-size: 11px;

$semibold: 500;
$bold: 600;

$brand-font-reg: 'azo-sans-web-reg';
$brand-font-light: 'azo-sans-web-light';

$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

@import 'type';

// master styles

body {
  padding: 0 0 140px;
  margin: 0;
  background: $white;
  line-height: 26px;
  text-align: center;
  min-width: 320px;
  box-sizing: border-box;
  position: relative;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  margin-top: 40px;
  padding-top: 70px;
  span {
    border-right: 2px solid #C7C5C5;
    padding-right: 7px;
    margin-right: 3px;
    color: #C7C5C5;
  }
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

strong {
  font-family: $brand-font-reg;
  font-weight: $semibold;
}

input {
  font-family: $brand-font-reg;
}

.hr {
  border-bottom: 1px dashed #CECECE;
  margin: $space-md 0;
}

// header

header {
  float: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background: rgba(255,255,255,0.80);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 9999;
  img {
    width: 100px;
    float: left;
  }
  ul {
    float: right;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
      float: left;
      margin-left: 25px;
      a {
        font-size: 15px;
        font-weight: 600;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    @media screen and (max-width: 625px) {
      display: none;
    }
  }
}

// section

section {
  overflow: hidden;
  clear: both;
  display: block;
  padding: 34px 0 0;
  //width: 1440px;
  //max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  h3 {
    margin-bottom: 8px;
    color: #C7C5C5;
    font-weight: 100;
    font-family: "azo-sans-web-light";
    font-size: 14px;
  }
}

// column

.col {
  border-top: 0!important;
  border-bottom: 0!important;
  float: left;
  display: inline-block;
  background: rgb(198, 225, 241);
  height: 10vh;
  box-sizing: border-box;
  border: 8px solid white;
  box-shadow: none!important;

// 12 column
  &.w1\/12 {
    width: 8.33333%;
  }

// 8 column
  &.w7\/8 {
    width: 87.5%;
  }
  &.w6\/8 {
    width: 75%;
  }
  &.w5\/8 {
    width: 62.5%;
  }
  &.w4\/8 {
    width: 50%;
  }
  &.w3\/8 {
    width: 37.5%;
  }
  &.w2\/8 {
    width: 25%;
  }
  &.w1\/8 {
    width: 12.5%;
  }

// 5 column
  &.w4\/5 {
    width: 80%;
  }
  &.w3\/5 {
    width: 60%;
  }
  &.w2\/5 {
    width: 40%;
  }
  &.w1\/5 {
    width: 20%;
  }

// 4 column
  &.w3\/4 {
    width: 75%;
  }
  &.w2\/4 {
    width: 50%;
  }
  &.w1\/4 {
    width: 25%;
  }

// 3 column
  &.w2\/3 {
    width: 66.66667%;
  }
  &.w1\/3 {
    width: 33.33333%;
  }

// 2 column
  &.w1\/2 {
    width: 50%;
  }

// 1 column
  &.w1\/1 {
    width: 100%;
  }

  &.no-pad {
    padding: 0;
    border: 0;
  }
}

// column sizing
.sizing {
  //width: 1440px;
  //max-width: 100%;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  border-top: 1px dashed #C7C5C5;
  padding-top: 0px;
  margin: 120px auto 0 auto;
  max-width: 1440px;
  .col {
    box-shadow: inset 0px 50px 110px #B1D6EC;
  }
  h2 {
    //padding-top: 110px;
    margin-top: 0;
    padding-top: 110px;
  }
}

// mixed usage examples
.examples {
  border-top: 1px dashed #C7C5C5;
  padding-top: 0;
  margin: 120px auto 0 auto;
  position: relative;
  //width: 1440px;
  //max-width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  .col {
    background: #F1C6C6;
    box-shadow: inset 0px 50px 110px #E8B3B3;
  }
  h2 {
    margin-top: 20px;
    padding-top: 65px;
  }
  @media screen and (max-width: 1750px) {
    padding-top: 55px!important;
  }
}

// responsive scaling
.responsive {
  border-top: 1px dashed #C7C5C5;
  padding-top: 80px;
  margin: 0 auto;
  position: relative;
  //width: 1440px;
  //max-width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  .col {
  border-top: 0!important;
  border-bottom: 0!important;
  float: left;
  display: inline-block;
  background: #C6F1D5;
  height: 70vh;
  box-sizing: border-box;
  box-shadow: inset 0px 50px 110px #B1DEC1;
}
h2 {
  margin-bottom: 20px;
  //padding-top: 110px;
  margin-top: 0;
}
}

// x-small breakpoint
@media screen and (min-width: $break-xsmall) {

  .col {
    border: 8px solid white;
    width: 25%;
    &.nxs, &.lo {
      display: none;
    }
  }

  .sizing, .examples, .responsive {
    padding-left: 16px;
    padding-right: 16px;
  }

}

// small breakpoint
@media screen and (min-width: $break-small) {

  .col {
    border: 8px solid white;
    width: 12.5%;
    &.nxs {
      display: block;
    }
    &.lo {
      display: none;
    }
  }

  .sizing, .examples, .responsive {
    padding-left: 16px;
    padding-right: 16px;
  }

}

// medium breakpoint
@media screen and (min-width: $break-medium) {

.col {
  border: 8px solid white;
  width: 12.5%;
  &.nxs {
    display: block;
  }
  &.lo {
    display: none;
  }
}

.sizing, .examples, .responsive {
  padding-left: 32px;
  padding-right: 32px;
}

}

// large breakpoint
@media screen and (min-width: $break-large) {

.col {
  border: 8px solid white;
  width: 8.33333%;
  &.nxs {
    display: block;
  }
  &.lo {
    display: block;
  }
}

.sizing, .examples, .responsive {
  padding-left: 32px;
  padding-right: 32px;
}

}

// x-large breakpoint
@media screen and (min-width: $break-xlarge) {

.col {
  border: 8px solid white;
  width: 8.33333%;
  &.nxs {
    display: block;
  }
  &.lo {
    display: block;
  }
}

.sizing, .examples, .responsive {
  padding-left: 40px;
  padding-right: 40px;
}

}

// xx-large breakpoint
@media screen and (min-width: $break-xxlarge) {

.col {
  border: 16px solid white;
  width: 8.33333%;
  &.nxs {
    display: block;
  }
  &.lo {
    display: block;
  }
}

.sizing, .examples, .responsive {
  padding-left: 56px;
  padding-right: 56px;
}

}
